[Execution1]
crbs=10.0.2.15
#using igb_uio please refer to doc/dts_gsg/support_igb_uio.rst
drivername=vfio-pci
build_type=meson
test_suites=
    hello_world,
targets=
    arm64-armv8a-linuxapp-gcc
parameters=nic_type=cfg:func=true
