# app path configuration
# [meson/makefile] : the build type
# app_name=app_path #about the app_path, you can use 'target' instead of build target in the path
# eg: if the testpmd app_path is: x86_64-native-linuxapp-gcc/app/testpmd,
#     you can use string 'target' instead of 'x86_64-native-linuxapp-gcc'
# test-pmd=target/app/testpmd
[meson]
pdump=target/app/dpdk-pdump
proc-info=target/app/dpdk-proc-info
test=target/app/test/dpdk-test
test-acl=target/app/dpdk-test-acl
test-bbdev=target/app/dpdk-test-bbdev
test-cmdline=target/app/dpdk-test-cmdline
test-compress-perf=target/app/dpdk-test-compress-perf
test-crypto-perf=target/app/dpdk-test-crypto-perf
test-eventdev=target/app/dpdk-test-eventdev
test-fib=target/app/dpdk-test-fib
test-pipeline=target/app/dpdk-test-pipeline
test-pmd=target/app/dpdk-testpmd
test-sad=target/app/dpdk-test-sad
ethtool=target/examples/dpdk-ethtool
eventdev_pipeline=target/examples/dpdk-eventdev_pipeline
fips_validation=target/examples/dpdk-fips_validation
flow_classify=target/examples/dpdk-flow_classify
flow_filtering=target/examples/dpdk-flow_filtering
helloworld=target/examples/dpdk-helloworld
ioat=target/examples/dpdk-ioat
ip_fragmentation=target/examples/dpdk-ip_fragmentation
ip_pipeline=target/examples/dpdk-ip_pipeline
ip_reassembly=target/examples/dpdk-ip_reassembly
ipsec-secgw=target/examples/dpdk-ipsec-secgw
ipv4_multicast=target/examples/dpdk-ipv4_multicast
kni=target/examples/dpdk-kni
l2fwd=target/examples/dpdk-l2fwd
l2fwd-crypto=target/examples/dpdk-l2fwd-crypto
l2fwd-event=target/examples/dpdk-l2fwd-event
l2fwd-jobstats=target/examples/dpdk-l2fwd-jobstats
l2fwd-keepalive=target/examples/dpdk-l2fwd-keepalive
l3fwd=target/examples/dpdk-l3fwd
l3fwd-acl=target/examples/dpdk-l3fwd-acl
l3fwd-power=target/examples/dpdk-l3fwd-power
l3fwd-thread=target/examples/dpdk-l3fwd-thread
link_status_interrupt=target/examples/dpdk-link_status_interrupt
ntb=target/examples/dpdk-ntb
packet_ordering=target/examples/dpdk-packet_ordering
ptpclient=target/examples/dpdk-ptpclient
qos_meter=target/examples/dpdk-qos_meter
qos_sched=target/examples/dpdk-qos_sched
rxtx_callbacks=target/examples/dpdk-rxtx_callbacks
service_cores=target/examples/dpdk-service_cores
skeleton=target/examples/dpdk-skeleton
tep_termination=target/examples/dpdk-tep_termination
timer=target/examples/dpdk-timer
vdpa=target/examples/dpdk-vdpa
vhost=target/examples/dpdk-vhost
vhost_blk=target/examples/dpdk-vhost_blk
vhost_crypto=target/examples/dpdk-vhost_crypto
vmdq=target/examples/dpdk-vmdq
vmdq_dcb=target/examples/dpdk-vmdq_dcb
mp_client=target/examples/dpdk-mp_client
hotplug_mp=target/examples/dpdk-hotplug_mp
mp_server=target/examples/dpdk-mp_server
simple_mp=target/examples/dpdk-simple_mp
symmetric_mp=target/examples/dpdk-symmetric_mp
[makefile]
pdump=target/app/dpdk-pdump
proc-info=target/app/dpdk-procinfo
test=target/app/test
test-acl=target/app/testacl
test-bbdev=target/app/testbbdev
test-cmdline=target/app/cmdline_test
test-compress-perf=target/app/dpdk-test-compress-perf
test-crypto-perf=target/app/dpdk-test-crypto-perf
test-eventdev=target/app/dpdk-test-eventdev
test-pipeline=target/app/testpipeline
test-pmd=target/app/testpmd
test-sad=target/app/testsad
ethtool=examples/ethtool/ethtool-app/ethtool
eventdev_pipeline=examples/eventdev_pipeline/build/app/eventdev_pipeline
fips_validation=examples/fips_validation/build/app/fips_validation
flow_classify=examples/flow_classify/build/app/flow_classify
flow_filtering=examples/flow_filtering/build/app/flow
helloworld=examples/helloworld/build/app/helloworld
ioat=examples/ioat/build/app/ioatfwd
ip_fragmentation=examples/ip_fragmentation/build/app/ip_fragmentation
ip_pipeline=examples/ip_pipeline/build/app/ip_pipeline
ip_reassembly=examples/ip_reassembly/build/app/ip_reassembly
ipsec-secgw=examples/ipsec-secgw/build/app/ipsec-secgw
ipv4_multicast=examples/ipv4_multicast/build/app/ipv4_multicast
kni=examples/kni/build/app/kni
l2fwd=examples/l2fwd/build/app/l2fwd
l2fwd-crypto=examples/l2fwd-crypto/build/app/l2fwd-crypto
l2fwd-event=examples/l2fwd-event/build/app/l2fwd-event
l2fwd-jobstats=examples/l2fwd-jobstats/build/app/l2fwd-jobstats
l2fwd-keepalive=examples/l2fwd-keepalive/build/app/l2fwd-keepalive
l3fwd=examples/l3fwd/build/app/l3fwd
l3fwd-acl=examples/l3fwd-acl/build/app/l3fwd-acl
l3fwd-power=examples/l3fwd-power/build/app/l3fwd-power
l3fwd-thread=examples/performance-thread/l3fwd-thread/build/app/l3fwd-thread
link_status_interrupt=examples/link_status_interrupt/build/app/link_status_interrupt
ntb=examples/ntb/build/app/ntb_fwd
packet_ordering=examples/packet_ordering/build/app/packet_ordering
ptpclient=examples/ptpclient/build/app/ptpclient
qos_meter=examples/qos_meter/build/app/qos_meter
qos_sched=examples/qos_sched/build/app/qos_sched
rxtx_callbacks=examples/rxtx_callbacks/build/app/rxtx_callbacks
service_cores=examples/service_cores/build/app/service_cores
skeleton=examples/skeleto/build/app/basicfwd
tep_termination=examples/tep_termination/build/app/tep_termination
timer=examples/timer/build/app/timer
vdpa=examples/vdpa/build/app/vdpa
vhost=examples/vhost/build/app/vhost-switch
vhost_blk=examples/vhost_blk/build/app/vhost-blk
vhost_crypto=examples/vhost_crypto/build/app/vhost-crypto
vmdq=examples/vmdq/build/app/vmdq_app
vmdq_dcb=examples/vmdq_dcb/build/app/vmdq_dcb_app
mp_client=examples/multi_process/client_server_mp/mp_client/build/app/mp_client
hotplug_mp=examples/multi_process/hotplug_mp/build/app/hotplug_mp
mp_server=examples/multi_process/client_server_mp/mp_server/build/app/mp_server
simple_mp=examples/multi_process/simple_mp/build/app/simple_mp
symmetric_mp=examples/multi_process/symmetric_mp/build/app/symmetric_mp
