# DUT Port Configuration
# [DUT IP]
# ports=
#     pci=Pci BDF,intf=Kernel interface;
#     pci=Pci BDF,mac=Mac address,peer=Tester Pci BDF,numa=Port Numa 
#     pci=Pci BDF,peer=IXIA:card.port
#     pci=Pci BDF,peer=TREX:port
#     pci=Pci BDF,peer=Tester Pci BDF,tp_ip=$(IP),tp_path=$({PERL_PATH);
#     pci=Pci BDF,peer=Tester Pci BDF,sec_port=yes,first_port=Pci BDF;
# [VM NAME] virtual machine name; This section is for virutal scenario
# ports =
#     dev_idx=device index of ports info, peer=Tester Pci BDF
[10.0.2.16]
ports =
    pci=0000:00:02.0,peer=0000:00:02.0;
