# Users could change these configuration on demand:
#
#  detail content reference to ``vf_l3fwd_kernelpf.cfg``
#

[suite]
update_expected = True
test_duration = 60
accepted_tolerance = '1%%'
rxtx_queue_size = None
l3fwd_wait_up = 2
traffic_stop_wait_time = 2
l3fwd_restart = False
cores_for_all = True
test_parameters = {
    '1C/1T-1Q': ['64', '128', '256', '512', '1024', '1280', '1518',],
    '1C/2T-2Q': ['64', '128', '256', '512', '1024', '1280', '1518',],
    '2C/2T-2Q': ['64', '128', '256', '512', '1024', '1280', '1518',],
    '2C/4T-4Q': ['64', '128', '256', '512', '1024', '1280', '1518',],
    '4C/4T-4Q': ['64', '128', '256', '512', '1024', '1280', '1518',],}

expected_throughput = {
    'test_perf_vf_throughput_ipv4_lpm': {
        'IXGBE_10G-82599_SFP': {
            '1C/1T-1Q': {
                 '64': '0.00',
                 '128': '0.00',
                 '256': '0.00',
                 '512': '0.00',
                 '1024': '0.00',
                 '1280': '0.00',
                 '1518': '0.00', },
            '1C/2T-2Q': {
                 '64': '0.00',
                 '128': '0.00',
                 '256': '0.00',
                 '512': '0.00',
                 '1024': '0.00',
                 '1280': '0.00',
                 '1518': '0.00', },
            '2C/2T-2Q': {
                 '64': '0.00',
                 '128': '0.00',
                 '256': '0.00',
                 '512': '0.00',
                 '1024': '0.00',
                 '1280': '0.00',
                 '1518': '0.00', },
            '2C/4T-4Q': {
                 '64': '0.00',
                 '128': '0.00',
                 '256': '0.00',
                 '512': '0.00',
                 '1024': '0.00',
                 '1280': '0.00',
                 '1518': '0.00', },
            '4C/4T-4Q': {
                 '64': '0.00',
                 '128': '0.00',
                 '256': '0.00',
                 '512': '0.00',
                 '1024': '0.00',
                 '1280': '0.00',
                 '1518': '0.00', },},},}
