[Execution1]
crbs=<CRB IP Address>
#using igb_uio please refer to doc/dts_gsg/support_igb_uio.rst
drivername=<driver name igb_uio or vfio-pci or mlx5_core or uio_pci_generic>
build_type=<meson>
test_suites=
    meson_tests:test_fasts,
    dynamic_config,
    jumboframes,
    scatter,
    ieee1588,
    multiprocess,
    l2fwd,
    pmd,
    checksum_offload,
    mac_filter,
    blocklist
targets=
    x86_64-native-linuxapp-gcc
parameters=nic_type=IXGBE_10G-82599_SFP:func=true
